<div class="box-content">
    <div class="card text-center">
        <h5 class="card-header">Change Password</h5>
        <!-- Account -->
        <div class="card-body d-flex flex-column align-items-center">
            <div class="d-flex py-2">
                <img [src]="
              dataUser && dataUser.AvatarUrl
                ? dataUser.AvatarUrl
                : 'https://ps.w.org/user-avatar-reloaded/assets/icon-256x256.png?rev=2540745'
            " alt="user-avatar" class="user-avatar" height="100" width="100" id="uploadedAvatar" />
            </div>
            <h3>
                {{ dataUser ? dataUser.Name : "" }}
            </h3>
            <p class="text-secondary">{{ dataUser ? dataUser.Email : "" }}</p>
        </div>

        <div class="card-body m-2">
            <form id="formAccountSettings" [formGroup]="form" (submit)="onSubmit()">
                <div class="row flex-column align-items-center me-2">
                    <div class="mb-3 col-md-6">
                        <label for="Password" class="form-label">Password</label>
                        <input class="form-control" type="password" formControlName="Password" id="Password"
                            placeholder="Password" autocomplete="on" />
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="NewPassword" class="form-label">New Password</label>
                        <input class="form-control" type="password" formControlName="NewPassword" id="NewPassword"
                            placeholder="New Password" autocomplete="on"
                            [ngClass]="{ 'is-invalid': submitted && f['NewPassword'].errors }" />
                        <div *ngIf="submitted && f['NewPassword'].errors" class="invalid-feedback">
                            <div>
                                Password at least 8 characters. Contains lowercase letters,
                                uppercase letters, special characters, numbers and no spaces .
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="NewPasswordConfirmed" class="form-label">New Password</label>
                        <input class="form-control" type="password" formControlName="NewPasswordConfirmed"
                            id="NewPasswordConfirmed" placeholder="Confirm New Password" autocomplete="on"
                            [ngClass]="{ 'is-invalid': submitted && f['NewPasswordConfirmed'].errors }" />
                        <div *ngIf="submitted && f['NewPasswordConfirmed'].errors" class="invalid-feedback">
                            <div>
                                Confirm password is different with new password.
                            </div>
                        </div>
                    </div>
                    <div class="m-3">
                        <button type="submit" class="btn btn-primary me-2">
                            Save changes
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <!-- /Account -->
    </div>
</div>