<div class="menu-bar">
  <div class="close text-end position-relative d-block d-xl-none">
    <i class="bx bx-x position-absolute end-0 mt-2 me-2 fs-2" (click)="onToggle()"></i>
  </div>
  <!-- Logo -->
  <div class="menu-brand ps-4 pb-3 mt-4">
    <i class="bi bi-box-fill"></i>
    <div class="title">Equipment</div>
  </div>

  <!-- Menu bar -->
  <ul class="menu-inner">
    <div *ngFor="let menu of listMenu">
      <li class="menu-header">
        <span class="menu-header-text small text-uppercase">{{
          menu.header
          }}</span>
      </li>

      <div *ngFor="let item of menu.items">
        <ng-container *ngIf="checkPermission(item.role)">
          <li class="menu-item">
            <a class="menu-link" [class.active]="menuItem === item.title" (click)="clickItem(item.title)">
              <div [innerHTML]="item.icon"></div>
              <div class="title-item">
                {{ item.title }}
              </div>
            </a>
          </li>
        </ng-container>
      </div>
    </div>
  </ul>
</div>